setuptools
wheel
tempora==1.14.0
jaraco.functools==2.0
cherrypy
six
Flask==2.3.2
pillow
qrcode
futures
psutil 
unidecode
requests
arabic-reshaper
python-bidi
flask-paginate==2021.10.29
torch>=1.5.1
tqdm>=4.30
librosa==0.10.0.post2
pip
pydub
yt-dlp
